/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  background-image: url(../assets/yellowmap.png), url(../assets/topround.svg), url(../assets/topopache.svg), url(../assets/topopache.svg);
  background-color: #0A4699;
  background-repeat: no-repeat;
  background-position: 167% 0%, 50% 40%, 100% 35%, 0 35%;
  background-attachment: scroll;
  background-size: auto, 100% 75%, 65% 75%, 65% 75%;
  height: 300vh;
}
header #logoContainer {
  display: flex;
  font-size: 2rem;
  height: 32vh;
  width: 435px;
  background-image: url(../assets/wave.svg), url(../assets/wave2.svg);
  background-repeat: no-repeat;
  background-size: auto, 400px 270px;
}
header #logoContainer p {
  padding: 7% 0 0 4%;
  color: #0A4699;
}
header #logoContainer img {
  margin: 0 0 0 0;
  padding: 0 0 160px 25px;
}
header h1 {
  color: #F7E486;
  font-size: 3rem;
  margin: 0 0 0 10%;
  padding: 1%;
}
header #btn1 {
  display: flex;
  font-size: 1rem;
  background: #F7E486;
  color: #0A4699;
  width: 10%;
  justify-content: center;
  align-items: center;
  padding: 1.5% 5%;
  border-radius: 5px;
  margin: 0 0 2% 55%;
}
header #btn2 {
  display: flex;
  font-size: 1rem;
  background: #0A4699;
  color: #F7E486;
  width: 10%;
  justify-content: center;
  align-items: center;
  padding: 1.5% 5%;
  border-radius: 5px;
  border: 1px solid #F7E486;
  margin: 0 0 0 55%;
}
header .about {
  margin: 30% 0 0 0;
  height: 75vh;
}
header .about #aboutTop {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 30vh;
  width: 80%;
  margin: auto;
  border-radius: 5px;
}
header .about #aboutTop p {
  border: 2px solid #0A4699;
  color: #0A4699;
  background: white;
  font-size: 1.55rem;
  line-height: 2rem;
  border-radius: 5px;
  padding: 5% 2.5% 2.5% 2.5%;
}
header .about #aboutTop #triangle {
  color: white;
  background: white;
  width: 10%;
  margin: 0 15% 0 0;
  height: 75%;
  clip-path: polygon(50% 100%, 25% 0, 75% 0);
  border: 2px solid white;
}
header .about #aboutTop img {
  margin: 2% 0 0 0;
}
