* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  color: #F7E486;
}
body .top {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/map.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
body .top .greeting {
  display: flex;
  width: 50%;
  height: 230px;
  background-image: url("../assets/wave.svg");
  background-repeat: no-repeat;
}
body .top .greeting h1 {
  display: flex;
  align-items: center;
  margin-top: -20%;
  margin-left: 5%;
  color: #0A4699;
}
body .top .greeting img {
  display: flex;
  align-items: center;
  margin-top: -20%;
  margin-left: 5%;
}
body .top .begin {
  display: flex;
  justify-content: space-around;
}
body .top .begin .begin-btns {
  display: flex;
  flex-direction: column;
}
body .top .begin .begin-btns button {
  margin: 10%;
}
