*{

}

body {

}



header {
    background-image: url(../assets/yellowmap.png), url(../assets/topround.svg), url(../assets/topopache.svg), url(../assets/topopache.svg);
    background-color: #0A4699;
    background-repeat: no-repeat;
    background-position: 167% 0%, 50% 40%, 100% 35%, 0 35%;
    background-attachment: scroll;
    background-size: auto, 100% 75%, 65% 75%, 65% 75%;
    height: 300vh;

        #logoContainer{
            display: flex;
            font-size: 2rem;
            height: 32vh;
            width: 435px;
            background-image: url(../assets/wave.svg), url(../assets/wave2.svg);
            background-repeat: no-repeat;
            background-size: auto, 400px 270px;
            

            p {
                padding: 7% 0 0 4%;
                color: #0A4699;
            }


            img{
                margin: 0 0 0 0;
                padding: 0 0 160px 25px;
            }

            #wave1{

            }

            #wave2{

            }
        }

    h1 {
        color: #F7E486;
        font-size: 3rem;
        margin: 0 0 0 10%;
        padding: 1%;
    }

    #btn1 {
        .buttons(1rem, #F7E486, #0A4699, 10%, center, center, 1.5% 5%, 5px);
        margin: 0 0 2% 55%;
    }

    #btn2 {
        .buttons(1rem, #0A4699, #F7E486, 10%, center, center, 1.5% 5%, 5px);
        border: 1px solid #F7E486;
        margin: 0 0 0 55%;
    }
}
