* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.2rem;
    color: #1A52A0;
}
p {
    font-size: 2rem;
    color: #1A52A0;
}

body {
    margin: 0 auto;
    background-color: #0A4699;
    overflow-x: hidden;
    .top {
        display: flex;
        flex-direction: column;
        background-image: url("../assets/opaque-map.png");
        background-color: #0A4699;
        // background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        min-height: 600px;
        height: 90vh;
        .greeting { 
            display: flex;
            min-height: 230px;
            background-image: url("../assets/wave.svg");
            background-repeat: no-repeat;
            h1 {
                // margin-top: -15%;
                // margin-left: 5%;
                color: #0A4699;
                padding: 20px;

            }
            img {
                margin-bottom: 120px;

            }

        }
        .begin {
            display: flex;
            justify-content: center;
            align-items: center;
            .begin-text {
                h1 {
                    color: #F7E486;
                    font-size: 4rem;
                }

            }
            .begin-btns {
                display: flex;
                flex-direction: column;
                margin: 10%;
                button {
                    padding: 10px 40px;
                    border: 1px solid #F7E486;
                    border-radius: 6px;
                    color: #F7E486;
                    background-color: rgba(72,144,243,0);
                    margin-top: 10%;
                    font-size: 1.7rem;

                }
            }
        }
    }
    .middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        .p-container {
            margin: 5%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap-reverse;
            margin-top: 15%;
            p {
                border: 1px solid #1A52A0;
                border-radius: 6px;
                background-color: white;
                padding: 5%;
            }
            img {
                padding-left: 40%;
                padding-bottom: 5%;
                border-bottom: 1px solid grey;
            }
        }
        .middle-a {
            background-image: url("../assets/middle_full_op.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 1100px;

            .descriptions {
                display: flex;
                justify-content: space-evenly;
        
                min-width: 80%;
                h2 {
                    padding: 10px;
                }
                .achievable {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 30%;
                }
                .practical {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 30%;
                }
                .goals {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 30%;
                }
            }
        }
        .users h2 {
            color: #F7E486;
            font-size: 2.6rem;
            padding: 10px;
            border-bottom: 1px solid;
        }
        .middle-b {
            background-image: url("../assets/Rounded\ border\ testimonials\ .svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-height: 800px;
            .testimonials {
                display: flex;
                justify-content: center;
                align-items: baseline;
                margin-top: 10%;
                p {
                    color: #1A52A0;
                    margin-bottom: 0;
                    padding: 20px;
                }
                img {
                    margin: 0 60%;
                    border: 0px solid black;
                    border-radius: 100%;
                }
                .jennifer {
                    width: 30%;
                }
                .joey {
                    width: 30%;
                }
                .trey {
                    width: 30%;
                }
            }

        } .btn-container {
            display: flex;
            justify-content: center;
            button {
                padding: 10px 40px;
                    border: 1px solid #1A52A0;
                    border-radius: 6px;
                    color: #F7E486;
                    background-color: #1A52A0;
                    margin: 0;
                    font-size: 1.7rem;
            }
        }
    }
}   