main {
  .main-content {
    color: @dark-blue;

    .gator-quote {
      display: flex;
      flex-flow: column wrap;
      position: relative;
      background-color: @main-yellow;
      div {
        p {
          padding: 10px;
          margin: 10px;
          margin-bottom: 0;
          border: 0.2rem solid @main-blue;
          border-radius: 9px;
          background-color: #fff;
        }
        .triangle {
          position: absolute;
          right: 145px;
          bottom: 67px;
          &::before,
          &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: transparent;
            border-bottom: 0;
          }
          &::before {
            bottom: -1.8rem;
            left: 1.8rem;
            border-top-color: @main-blue;
            border-width: 1.8rem;
          }
          &::after {
            bottom: -1.5rem;
            left: 2rem;
            border-top-color: #fff;
            border-width: 1.6rem;
          }
        }
      }
      span.logo {
        width: 100px;
        height: 65px;
        margin-left: auto;
      }
    } // end .gator-quote
    .selling-points {
      background-color: @main-yellow;
      padding: 10px;

      section {
        display: flex;
        flex-flow: row wrap;

        h3,
        span {
          width: auto;
        }

        h3 {
          margin-right: 15px;
          font-weight: 400;
        }

        p {
          width: 100%;
          margin: 15px 0;
          margin-bottom: 35px;
          padding-right: 25px;
        }
      }
    } // end .selling-points
    .testimonials {
      background-color: @main-yellow;
      padding-bottom: 25px;

      div {
        background-color: @main-blue;
        display: flex;
        justify-content: center;
        padding-top: 35px;
        padding-bottom: 45px;

        h3 {
          color: @main-yellow;
          font-weight: 400;
          margin: 0 auto;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            left: 0;
            height: 1px;
            background-color: @main-yellow;
            bottom: -15px;
          }
        }
      }

      figure {
        padding: 10px;
        display: inline-flex;
        flex-flow: row wrap;
        align-items: center;
        font-size: 1.6rem;
        margin: 20px 0;
        &:first-of-type {
          margin-top: 35px;
          margin-bottom: 0;
        }
        &:last-of-type {
          margin-bottom: 35px;
          margin-top: 0;
        }
        blockquote {
          width: 100%;
          padding-right: 25px;
          margin-bottom: 15px;
        }
        figcaption {
          width: auto;
          margin-right: 10px;
        }
        img {
          width: 45px;
          border-radius: 100%;
          transform: translate3d(0, -5px, 0);
        }
      }

      .btn {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-size: 1.6rem;
        // mixin button
        &.signup {
          .button(
            @color: @main-yellow,
            @bg-color: @main-blue,
            @padding: 10px,
            @border-radius: 6px,
            @focus-shadow: #a55,
            @width: 200px,
            @border: 2px solid @main-blue
          );
        }
      }
    } // end .testimonials
  } // end .main-content
} // end main

.copyright {
  color: @main-yellow;
  text-align: center;
  padding: 5px 0;
  font-size: 1.2rem;
}
